
<% layout('layouts/boilerplate') -%>

<table class="table">
    <thead>
      <tr>
        <th scope="col">Code</th>
        <th scope="col">Name</th>
        <th scope="col">Cost (% pa)</th>
      </tr>
    </thead>
    <tbody>

        <% investments.forEach(investment => { %>
            <tr>
                <td><a href="/investments/<%= investment.code%>"><%= investment.code%></a></td>
                <td><%= investment.name %></td>
                <td><%= investment.cost%></td>
            </tr>
    
       <% }); %>
      
    </tbody>
  </table>


<ul>

    
    
</ul>


