<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>investments</title>
</head>
<body>
    <h1>All investments</h1>
    <ul>

    
    <% investments.forEach(investment => { %>
        <div > <a href="/investments/<%= investment.code%>"> <%= investment.name %> </a></div>

   <% }); %>
</ul>
</body>
</html>