<% layout('layouts/boilerplate') -%>


<div class="card" >
    <div class="card-body">
      <h2 class="card-title"><%= investment.name %></h5>
      <h6 class="card-subtitle mb-2 text-muted"><%= investment.code %></h6>
      
    </div>
  </div>
  
   
    
